<footer>
    <small>TeacherName :@Model.TeacherName</small>
    <small>Howest Brugge</small>
    <code>Graduaat Programmeren</code>
    <a asp-controller="Home" asp-action="Index">Home</a>


</footer>