@model StudentsShowStudentDetailViewModel

@{
    ViewData["Title"] = Model.StudentName;
}

<h1>Teachers Info</h1>
@* mt-2 ==> margin top 2 *@
<div class="card mt-2">
    <div class="card-header bg-info">
        @Model.StudentName
    </div>
    <div class="card-body bg-light">

        @foreach (var courseName in @Model.CoursesNames)
        {
            <p>@courseName</p>
        }
    </div>

</div>

<a asp-controller="Students" asp-action="ShowStudents">Back</a>
